body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    text-align: center;
}

h1 {
    color: white;
    font-size: 50px;
    font-weight: normal;
}

a {
    color: aquamarine;
    font-size: 16px;
}

p {
    font-size: 21px;
    color: grey;
}

.copyright {
    text-align: right;
}

/* TEST */